@font-face {
  font-family: VCR;
  src: url(../fonts/VCR_OSD_MONO.eot);
  src: local("☺"), url(../fonts/VCR_OSD_MONO.woff) format("woff"),
    url(../fonts/VCR_OSD_MONO.ttf) format("truetype"),
    url(../fonts/VCR_OSD_MONO.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  -webkit-border-radius: 00px;
  border-radius: 00px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
}
body,
html {
  position: relative;
  height: 100%;
  background: #101ea2;
  font: 28px VCR;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
::selection {
  background: #000;
}
table ::selection {
  background: 0 0;
}
table {
  position: absolute;
  margin: 50px 50px;
  border-collapse: separate;
  border-spacing: 0 5px;
  z-index: 9;
  opacity: 1;
}
table tr {
  opacity: 0;
}
table tr.o {
  opacity: 1;
}
table tr.b {
  opacity: 1;
}
li,
td {
  border-collapse: collapse;
}
td {
  cursor: pointer;
  min-width: auto;
}
.works,
.works-item {
  padding: 1px;
  letter-spacing: 1px;
}
.works-item {
  width: auto;
  margin-bottom: 5px;
  margin-left: 28px;
  white-space: nowrap;
}
tr td:nth-child(2) {
  position: relative;
  float: left;
  display: inline;
  max-height: 30px;
  display: none;
  width: 225px;
}
tr td:nth-child(2).a {
  display: block;
}
li {
  position: relative;
  float: left;
  width: 100%;
  clear: both;
}
.title {
  padding-left: 0;
  padding-bottom: 12px;
  animation: blink 1s steps(1, end) forwards;
  opacity: 0;
  color: #f3e75b;
  white-space: nowrap;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  color: #f3e75b;
}
section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
section.a {
  display: block;
}
.center {
  padding: 150px 0;
}
section p {
  text-align: center;
  font-size: 28px;
  margin-bottom: 42px;
  color: #f3e75b;
}
.contact a {
  color: #f3e75b;
}
@media (max-width: 600px), handheld and (orientation: landscape) {
  body,
  html {
    height: 101%;
  }
  table {
    margin: 15px;
  }
  section p {
    font-size: 28px;
  }
}

.hover,
.hover a {
  background: #f3e75b;
  color: #181818;
}

.active {
  background: #181818;
  color: #f3e75b;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 400;
  opacity: 1;
  pointer-events: none;
}
.noise:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.noise-moving {
  opacity: 1;
  z-index: 450;
}
.noise-moving:before {
  will-change: background-position;
  -webkit-animation: noise 1s infinite alternate;
  animation: noise 1s infinite alternate;
}

/* Animations */
@-webkit-keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes rgbText {
  0% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
}
@keyframes rgbText {
  0% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
}
@-webkit-keyframes type {
  0%,
  19% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}
@keyframes type {
  0%,
  19% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}

#img {
  display: none;
  position: absolute !important;
  width: 100%;
  height: 100vh;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes flick {
  50% {
    left: 2px;
  }
  51% {
    left: 0;
  }
}
@keyframes flick {
  50% {
    left: 2px;
  }
  51% {
    left: 0;
  }
}
@-webkit-keyframes jump {
  30% {
    top: 10px;
  }
  31% {
    top: 0;
  }
}
@keyframes jump {
  30% {
    top: 10px;
  }
  31% {
    top: 0;
  }
}
@-webkit-keyframes track {
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(-80deg, 0);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}
@keyframes track {
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(-80deg, 0);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}
.screen-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.line {
  width: 100%;
  height: 3px;
  position: relative;
  -webkit-animation: appear 1s infinite, flick 1s infinite,
    big-jump 5ms infinite;
  animation: appear 1s infinite, flick 1s infinite, big-jump 5ms infinite;
}
.line .white {
  background: white;
  position: relative;
  top: 0;
  left: 0;
  height: 4px;
}
.line .red {
  background: red;
  position: relative;
  top: 0;
  left: 0;
  height: 1px;
}
.line .green {
  background: green;
  position: relative;
  top: 0;
  left: 0;
  height: 1px;
}

@-webkit-keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.85;
  }
  50% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.85;
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.85;
  }
}

@keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.85;
  }
  50% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.85;
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.85;
  }
}
@-webkit-keyframes big-jump {
  0% {
    top: 0;
  }
  10% {
    top: -100px;
  }
  12% {
    top: 0;
  }
  54% {
    top: 0;
  }
  55% {
    top: -300px;
  }
  56% {
    top: 0;
  }
  86% {
    top: 0;
  }
  87% {
    top: -600px;
  }
  88% {
    top: 0;
  }
}
@keyframes big-jump {
  0% {
    top: 0;
  }
  10% {
    top: -100px;
  }
  12% {
    top: 0;
  }
  54% {
    top: 0;
  }
  55% {
    top: -300px;
  }
  56% {
    top: 0;
  }
  86% {
    top: 0;
  }
  87% {
    top: -600px;
  }
  88% {
    top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .works-item {
    margin-left: 10px;
    white-space: normal;
  }
}
